# Dictionaries
* Used for storing complex information

In [1]:
# hello : to say hi -> key : value

In [2]:
dog_1 = {'Name': 'Trump', 'Color':'White', 'Breed':'German Shepherd', 'Weight':80.5, 'Height':2}
dog_1

{'Name': 'Trump',
 'Color': 'White',
 'Breed': 'German Shepherd',
 'Weight': 80.5,
 'Height': 2}

In [3]:
print(dog_1['Name'])

Trump

In [4]:
print(dog_1['Breed'])

German Shepherd

In [5]:
cities = {1:'NY', 2:'FSD', 3:'LA'}
cities

{1: 'NY', 2: 'FSD', 3: 'LA'}

In [6]:
cities[1]

'NY'

In [7]:
cities[2]

'FSD'

In [8]:
cities[4]

KeyError: 4

In [9]:
table_of_contents = {1:'Chapter 1', 1.1:'Chapter 1.1', 1.2:'Chapter 1.2', 2:'Chapter 2'}
print(table_of_contents)

{1: 'Chapter 1', 1.1: 'Chapter 1.1', 1.2: 'Chapter 1.2', 2: 'Chapter 2'}

In [10]:
dog_1

{'Name': 'Trump',
 'Color': 'White',
 'Breed': 'German Shepherd',
 'Weight': 80.5,
 'Height': 2}

## Adding/Removing/Changing items in a Dictionary

In [11]:
dog_1['Weight'] = 70
dog_1

{'Name': 'Trump',
 'Color': 'White',
 'Breed': 'German Shepherd',
 'Weight': 70,
 'Height': 2}

In [12]:
print(dog_1.keys())

dict_keys(['Name', 'Color', 'Breed', 'Weight', 'Height'])

In [13]:
dog_1.values()

dict_values(['Trump', 'White', 'German Shepherd', 70, 2])

In [14]:
dog_1.items()

dict_items([('Name', 'Trump'), ('Color', 'White'), ('Breed', 'German Shepherd'), ('Weight', 70), ('Height', 2)])

In [15]:
print(type(dog_1.items()))

<class 'dict_items'>

In [16]:
dict2 = {}
dict3 = dict()

new_list = list()
print(type(dict2), type(dict3), type(new_list))

<class 'dict'> <class 'dict'> <class 'list'>

In [17]:
print(dict2)
print(dict3)
print(new_list)

{}
{}
[]

In [18]:
tuple1 = ()
tuple2 = ('apple', 'banana', 'orange')
tuple3 = tuple()
print(tuple1)
print(tuple2[1])

tuple2[1] = 'mango'

()
banana

TypeError: 'tuple' object does not support item assignment

In [45]:
name1 = "Arslan"
name1[4] = 'b'

TypeError: 'str' object does not support item assignment

In [ ]:
dog_1

In [ ]:
dog_1['Pups'] = 3

In [ ]:
dog_1

In [ ]:
del dog_1["Weight"]
dog_1

In [46]:
for key in dog_1.keys():
    print(key)

Name
Color
Breed
Weight
Height

In [47]:
for key in dog_1:
    print(key)

Name
Color
Breed
Weight
Height

In [48]:
for value in dog_1.values():
    print(value)

Trump
White
German Shepherd
70
2

In [49]:
list_dog = list()

for item in dog_1.items():
    print(item)
    list_dog.append(item)
    
print(list_dog)

('Name', 'Trump')
('Color', 'White')
('Breed', 'German Shepherd')
('Weight', 70)
('Height', 2)
[('Name', 'Trump'), ('Color', 'White'), ('Breed', 'German Shepherd'), ('Weight', 70), ('Height', 2)]

In [50]:
print(list_dog[2][0])

Breed

In [51]:
print(list_dog[0][1])

Trump

In [52]:
# Storing complex data in a dictionary
my_cars = ["Civic", 'Mehran', 'Jeep', 'Bugatti']
my_car_parts = ['Steering Wheel', 'Wheel', 'Gears', 'Headlights']

my_cars_dict = {'cars': my_cars, 'car_parts': my_car_parts}
my_cars_dict

{'cars': ['Civic', 'Mehran', 'Jeep', 'Bugatti'],
 'car_parts': ['Steering Wheel', 'Wheel', 'Gears', 'Headlights']}

## Adding items to a dictionary on runtime

In [53]:
person1 = dict()
type(person1)

dict

In [54]:
person1['fName'] = 'Jake'
person1['sName'] = 'Trafford'
person1['Age'] = 35
person1['Address'] = '10, Downing Street'
person1['Children'] = ['Angelina', 'Arslan', 'Ahmad']
person1['Pets'] = {'Cat': 'Brownie', 'Dog': 'Woofie', 'Canary': 'Tweetie'}

person1

{'fName': 'Jake',
 'sName': 'Trafford',
 'Age': 35,
 'Address': '10, Downing Street',
 'Children': ['Angelina', 'Arslan', 'Ahmad'],
 'Pets': {'Cat': 'Brownie', 'Dog': 'Woofie', 'Canary': 'Tweetie'}}

In [55]:
person2 = {}
person2['fName'] = 'Arslan'
person2['sName'] = 'Aslam'
person2['Age'] = 21
person2['Address'] = '44, Johar Street'
person2['Children'] = ['Usman', 'Hassan']
person2['Pets'] = {'Cat': 'Bashir', 'Dog': 'Timmy', 'Canary': 'Tootie'}

person2

{'fName': 'Arslan',
 'sName': 'Aslam',
 'Age': 21,
 'Address': '44, Johar Street',
 'Children': ['Usman', 'Hassan'],
 'Pets': {'Cat': 'Bashir', 'Dog': 'Timmy', 'Canary': 'Tootie'}}

In [56]:
person3 = {}
person3['fName'] = 'Akbar'
person3['sName'] = 'Anthony'
person3['Age'] = 25
person3['Address'] = '14, Karim Street'
person3['Children'] = ['Mona', 'Sohail', 'Muaaz']
person3['Pets'] = {'Cat': 'Baloo', 'Dog': 'Tammy', 'Canary': 'Sweetie'}

person3

{'fName': 'Akbar',
 'sName': 'Anthony',
 'Age': 25,
 'Address': '14, Karim Street',
 'Children': ['Mona', 'Sohail', 'Muaaz'],
 'Pets': {'Cat': 'Baloo', 'Dog': 'Tammy', 'Canary': 'Sweetie'}}

In [57]:
all_persons = dict()

all_persons[1] = person1
all_persons[2] = person2

all_persons

{1: {'fName': 'Jake',
  'sName': 'Trafford',
  'Age': 35,
  'Address': '10, Downing Street',
  'Children': ['Angelina', 'Arslan', 'Ahmad'],
  'Pets': {'Cat': 'Brownie', 'Dog': 'Woofie', 'Canary': 'Tweetie'}},
 2: {'fName': 'Arslan',
  'sName': 'Aslam',
  'Age': 21,
  'Address': '44, Johar Street',
  'Children': ['Usman', 'Hassan'],
  'Pets': {'Cat': 'Bashir', 'Dog': 'Timmy', 'Canary': 'Tootie'}}}

In [58]:
all_persons_list = [person1, person2]
all_persons_list

[{'fName': 'Jake',
  'sName': 'Trafford',
  'Age': 35,
  'Address': '10, Downing Street',
  'Children': ['Angelina', 'Arslan', 'Ahmad'],
  'Pets': {'Cat': 'Brownie', 'Dog': 'Woofie', 'Canary': 'Tweetie'}},
 {'fName': 'Arslan',
  'sName': 'Aslam',
  'Age': 21,
  'Address': '44, Johar Street',
  'Children': ['Usman', 'Hassan'],
  'Pets': {'Cat': 'Bashir', 'Dog': 'Timmy', 'Canary': 'Tootie'}}]

In [59]:
all_persons_list[0]

{'fName': 'Jake',
 'sName': 'Trafford',
 'Age': 35,
 'Address': '10, Downing Street',
 'Children': ['Angelina', 'Arslan', 'Ahmad'],
 'Pets': {'Cat': 'Brownie', 'Dog': 'Woofie', 'Canary': 'Tweetie'}}

In [60]:
all_persons_list[1]

{'fName': 'Arslan',
 'sName': 'Aslam',
 'Age': 21,
 'Address': '44, Johar Street',
 'Children': ['Usman', 'Hassan'],
 'Pets': {'Cat': 'Bashir', 'Dog': 'Timmy', 'Canary': 'Tootie'}}

In [61]:
all_persons[3] = person3

In [62]:
all_persons_list.append(person3)

In [63]:
all_persons_list

[{'fName': 'Jake',
  'sName': 'Trafford',
  'Age': 35,
  'Address': '10, Downing Street',
  'Children': ['Angelina', 'Arslan', 'Ahmad'],
  'Pets': {'Cat': 'Brownie', 'Dog': 'Woofie', 'Canary': 'Tweetie'}},
 {'fName': 'Arslan',
  'sName': 'Aslam',
  'Age': 21,
  'Address': '44, Johar Street',
  'Children': ['Usman', 'Hassan'],
  'Pets': {'Cat': 'Bashir', 'Dog': 'Timmy', 'Canary': 'Tootie'}},
 {'fName': 'Akbar',
  'sName': 'Anthony',
  'Age': 25,
  'Address': '14, Karim Street',
  'Children': ['Mona', 'Sohail', 'Muaaz'],
  'Pets': {'Cat': 'Baloo', 'Dog': 'Tammy', 'Canary': 'Sweetie'}}]

In [64]:
all_persons

{1: {'fName': 'Jake',
  'sName': 'Trafford',
  'Age': 35,
  'Address': '10, Downing Street',
  'Children': ['Angelina', 'Arslan', 'Ahmad'],
  'Pets': {'Cat': 'Brownie', 'Dog': 'Woofie', 'Canary': 'Tweetie'}},
 2: {'fName': 'Arslan',
  'sName': 'Aslam',
  'Age': 21,
  'Address': '44, Johar Street',
  'Children': ['Usman', 'Hassan'],
  'Pets': {'Cat': 'Bashir', 'Dog': 'Timmy', 'Canary': 'Tootie'}},
 3: {'fName': 'Akbar',
  'sName': 'Anthony',
  'Age': 25,
  'Address': '14, Karim Street',
  'Children': ['Mona', 'Sohail', 'Muaaz'],
  'Pets': {'Cat': 'Baloo', 'Dog': 'Tammy', 'Canary': 'Sweetie'}}}

In [65]:
del all_persons_list[3]
all_persons_list

IndexError: list assignment index out of range

In [ ]:
all_persons_list[0]['Children'][0]

In [ ]:
pets_dict = all_persons_list[1]['Pets']

for key in pets_dict.keys():
    if key == "Cat":
        print(pets_dict[key])

## Simple Coding Problems
1. Find out the names of Akbar's kids & find the number of children, which he has.
    1. Find out the names of Akbar's 3rd child.
    
2. Find out if Jake has a dog & if yes, what is its name? **Use `items()` method here.**

In [2]:
# Answer to problem 2
person1 = dict()

person1['fName'] = 'Jake'
person1['sName'] = 'Trafford'
person1['Age'] = 35
person1['Address'] = '10, Downing Street'
person1['Children'] = ['Angelina', 'Arslan', 'Ahmad']
person1['Pets'] = {'Cat': 'Brownie', 'Dog': 'Woofie', 'Canary': 'Tweetie'}

person1

{'fName': 'Jake',
 'sName': 'Trafford',
 'Age': 35,
 'Address': '10, Downing Street',
 'Children': ['Angelina', 'Arslan', 'Ahmad'],
 'Pets': {'Cat': 'Brownie', 'Dog': 'Woofie', 'Canary': 'Tweetie'}}

In [3]:
for pets in person1['Pets'].items():
    print(pets)

('Cat', 'Brownie')
('Dog', 'Woofie')
('Canary', 'Tweetie')

In [5]:
for pets in person1['Pets'].items():
    if pets[0] == "Dog":
        print(pets[1])
    else:
        print("Not found")

Not found
Woofie
Not found

In [66]:
dict_a = {1: "Roger", 2: 23, 3: []}
dict_b = {4: "Harry", 5: 24, 6: []}

dict_a.update(dict_b)
dict_a

{1: 'Roger', 2: 23, 3: [], 4: 'Harry', 5: 24, 6: []}

In [67]:
# Latest Method (Mainly used in Python 3.9 onwards)
dict_new = dict_a | dict_b
dict_new

TypeError: unsupported operand type(s) for |: 'dict' and 'dict'

In [80]:
dict_a = {1: "Roger", 2: 23, 3: []}
dict_b = {1: "Harry", 2: 24, 3: []}

dict_a.update(dict_b)
dict_a

{1: 'Harry', 2: 24, 3: []}

# Functions

In [81]:
def do_some_work(input_variable):
    print('i am doing some work!')
    
    return 'done with my work'

In [82]:
def do_some_work2():
    print('i am doing some work!')

In [83]:
do_some_work2()

i am doing some work!

In [84]:
do_some_work(1)

i am doing some work!

'done with my work'

In [85]:
returned_value = do_some_work(1)
print('returned_value:', returned_value)

i am doing some work!
returned_value: done with my work

In [86]:
def add_numbers(num1,num2):
    return num1 + num2

In [87]:
add_numbers(7.6,3.4)

11.0

In [88]:
def age_printer(age,name):
    print('My name is {} and my age is {}.'.format(name,age))

In [89]:
age_printer(27,'Ahmed')

My name is Ahmed and my age is 27.

In [90]:
age_printer('Ahmed', 27) #wrong

My name is 27 and my age is Ahmed.

In [91]:
age_printer(name='Ahmed', age=27)

My name is Ahmed and my age is 27.

In [92]:
age_printer()

TypeError: age_printer() missing 2 required positional arguments: 'age' and 'name'

In [93]:
def age_printer2(age=0,name=''): #default arguments
    print('My name is {} and my age is {}.'.format(name,age))

In [94]:
age_printer2()

My name is  and my age is 0.

In [95]:
age_printer2(27,'Ahmed')

My name is Ahmed and my age is 27.

In [96]:
def print_grocery_list(item_list):   
    i = 1
    for item in item_list:
        print('{}. {}'.format(i,item))
        i += 1

In [97]:
print_grocery_list(['bread', 'eggs', 'beans'])

1. bread
2. eggs
3. beans

In [98]:
def multiply_nums(var1,var2,var3):
    return var1*var2*var3

In [101]:
multiply_nums(2,3)

TypeError: multiply_nums() missing 1 required positional argument: 'var3'

In [102]:
multiply_nums(2,3,4,5)

TypeError: multiply_nums() takes 3 positional arguments but 4 were given

In [100]:
multiply_nums(2,3,4)

24

## `*args`

In [108]:
def multiply_nums_new(*nums):
    print(type(nums))
    print(nums)
    total = 1
    for num in nums:
        total *= num #total = total * num (1*2) -> total = total * num (2*3)
    return total

In [110]:
multiply_nums_new(2,3)

<class 'tuple'>
(2, 3)

6

In [111]:
multiply_nums_new(2,3,4)

<class 'tuple'>
(2, 3, 4)

24

In [112]:
multiply_nums_new(2,3,4,5)

<class 'tuple'>
(2, 3, 4, 5)

120

In [113]:
multiply_nums_new(2,3,4,5,1.0)

<class 'tuple'>
(2, 3, 4, 5, 1.0)

120.0

## `**kwargs`

In [ ]:
# key : value (dictionary)
# similar to that

In [120]:
def multiply_nums_kw(**nums):
    print(type(nums))
    print(nums)
    total = 1
    for key in nums.keys():
        total *= nums[key] # nums['val1'] -> 2, nums['val2'] -> 3, nums['val3'] -> 4,
    return total

In [121]:
multiply_nums_kw(val1 = 2, val2 = 3, val3 = 4)

<class 'dict'>
{'val1': 2, 'val2': 3, 'val3': 4}

24

In [117]:
{'val1': 2, 'val2': 3, 'val3': 4}.keys()

dict_keys(['val1', 'val2', 'val3'])

In [118]:
{'val1': 2, 'val2': 3, 'val3': 4}.values()

dict_values([2, 3, 4])

In [119]:
{'val1': 2, 'val2': 3, 'val3': 4}.items()

dict_items([('val1', 2), ('val2', 3), ('val3', 4)])

In [122]:
str1 = "Welcome to Data Shayta!"
print(str1.swapcase())

wELCOME TO dATA sHAYTA!

In [130]:
print("\N{dog}")
print("\N{cat}")
print("\N{horse}")
print("\N{smile}")
print("\N{rose}")
print("\U0001F606")